@import 'btn';

$availHeight: calc(100vh - 124px);

body {
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.book-header {
    padding: 16px 0;
    text-align: center;

    h1 {
        font-weight: normal;
        margin: 0;
        padding: 0 8px;
    }
}

.book__nav-btn#ctrlPrev,
.book__nav-btn#ctrlNext {
    @extend %btn;
}

.book-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-container {
    position: relative;
    width: 100%;
    max-width: calc((#{$availHeight} / 800) * 1200);
    box-shadow: 0 2px 6px 4px rgba(0,0,0, 0.2);
    
    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: (400 / 600) * 100%; // Nook Screen Size
    }
    &::after{
        display: block;
        content: "";
        width: 1px;
        height: 95%;
        background-color: rgba(0,0,0,0.4);
        margin-left: -0.5px;
        position: absolute;
        left: 50%;
        top: 2.5%;
        bottom: 2.5%;
        box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
    }
    
    > div {
        position: absolute !important;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

footer {
    text-align: center;
    padding: 8px;
}